#f1
{
    border: 1px solid black;
    padding: 40px;
    width: 700px;
    height: 700px;
}

#f2
{
    border: 1px solid gray;
    width: 640px;
    height: 640px;
}

div
{
    width: 80px;
    height: 80px;
    float: left;
}

table
{
    float: left;

}

td
{
    width: 20px;
    height: 80px;
}

